* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: Inter , sans-serif;
}

.footer {
  bottom: 0;
  display: flex;
  position: fixed;
}

.footer__icon {
  height: 2rem;
  width: 2rem;
}
