* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-size: 20px;
}

body {
  font-family: Inter , sans-serif;
}

.footer {
  bottom: 0;
  display: flex;
  position: fixed;
}

.footer__icon {
  height: 2rem;
  width: 2rem;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
  width: 100%;
}

.recomended {
  display: flex;
  flex-direction: column;
}

.recipe-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.recipe-card__image {
  border-radius: 50%;
  height: 200px;
  width: 100%;
}

.recomended-card__title {
  color: black;
}

.selected_step {
  text-decoration: line-through;
}

.favorite-image {
  width: 200px;
}

.hidden-start-recipe-btn {
  display: none;
}
