:root {

  --orange-primary: #e99342;

  --orange-lighter: #eb9e55;

  --orange-darker: #d2843b;

  --green-primary: #38932c;

  --white-primary: #f3f9fb;

  --black-primary: #3e4040;

  --gray-primary: #505050;

  --red-primary: #ea5455;
}

.page-container {
  background-color: #121212;
  min-height: 100vh;
  padding-bottom: 4rem;
  position: relative;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-size: 20px;
}

body {
  font-family: Inter , sans-serif;
}

/* .footer {
  bottom: 0;
  display: flex;
  position: fixed;
}

.footer__icon {
  height: 2rem;
  width: 2rem;
} */

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}

/* .carousel {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
  width: 100%;
} */

/* .recomended {
  display: flex;
  flex-direction: column;
} */

/* .recipe-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.recipe-card__image {
  border-radius: 50%;
  height: 200px;
  width: 100%;
} */

.recomended-card__title {
  color: black;
}

.favorite-image {
  width: 200px;
}
